<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Agenda</title>
</head>
<body>
<h1>Login</h1>
<form action="submit" method="POST"> {% csrf_token %}
    <div align="center">

        <label>Usuário:
            <input type="text" name="username">
        </label>

        <label>Password:
            <input type="password" name="password">
        </label>
        <button type="submit">Entrar</button>
    </div>
</form>

    {% for message in messages %}
        <div align="center">
            <strong>Error: </strong> {{ message }}
        </div>
    {% endfor %}
</body>
</html>